<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>价格评估</title>
    <link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://cdn.static.runoob.com/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="dropdown">
    <button type="button" class="btn dropdown-toggle" id="dropdownMenu1"
            data-toggle="dropdown">
        省份
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        {% for province in province_list%}
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="./index/province_id={{ province.id }}">{{ province.name }}</a>
        </li>
        {% endfor %}
    </ul>
</div>

</body>
</html>